body {
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif !important;
}
